<nav id="navbar-main" class="navbar is-fixed-top">
    <div class="navbar-brand">
    <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
        <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
      </a>
      <a class="navbar-item" href="/home">
        <img src="/images/logo.png">
      </a>
      <div class="navbar-item has-control">
        <div class="control"><input placeholder="Search everywhere..." class="input" style="visibility: hidden;"></div>
      </div>

    </div>
    <div class="navbar-brand is-right">
      <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu">
        <span class="icon"><i class="mdi mdi-dots-vertical"></i></span>
      </a>
    </div>
    <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
      <div class="navbar-end">    
        <% if (user.usertype == "Student") { %>
        <a class="button is-primary" style="margin: 10px;" href="/ride-requests" title="About"
        class="navbar-item has-divider is-desktop-icon-only">
        <span class="icon"><i class="mdi mdi-car-wash"></i> </span>
        <span>My Rides</span>
        </a>
        <h1 style="margin: 10px;" href="/ride-requests" title="number of requests today"
        class="navbar-item has-divider is-desktop-icon-only">
        <span class="icon"><i class="mdi mdi-car-wash"></i></span>
        <span>Number of Ride requests today - <strong>(<span id="numberOfRideRequestToday"><%= numberOfRideRequestToday %></span>)</strong></span>
        <% } %>
        <% if (user.usertype == "Driver") { %>
        <a class="button is-primary" style="margin: 10px;" href="/cars" title="About"
        class="navbar-item has-divider is-desktop-icon-only">
        <span class="icon"><i class="mdi mdi-car-wash"></i> </span>
        <span>My Vehicles</span>
        </a>
        <h1 style="margin: 10px;" href="/ride-requests" title="number of requests today"
        class="navbar-item has-divider is-desktop-icon-only">
        <span class="icon"><i class="mdi mdi-car-wash"></i></span>
        <span>Number of Ride requests today - <strong>(<span id="numberOfRideRequestToday"><%= numberOfRideRequestToday %></span>)</strong></span>
        <% } %>


      </h1>
      <button onclick="showAddLocationForm()" class="button is-primary" style="margin: 10px;"
      class="navbar-item has-divider is-desktop-icon-only">
      <span class="icon"><i class="mdi mdi-compass"></i> </span>
      <span>Add a Location</span>
      </button>
        <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider is-hoverable">
          
          <div class="navbar-dropdown">
            <a href="/profile" class="navbar-item is-active">
              <span class="icon"><i class="mdi mdi-account"></i></span> 
              <span>My Profile</span>
            </a>
        

            <% if (user.userType == "Admin") { %>
            <a href="/users" class="navbar-item">
              <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
              <span>Users</span>
            </a>
            <a class="navbar-item" href="/cars">
              <span class="icon"><i class="mdi mdi-car"></i></span>
              <span>Cars</span>
            </a>
            <a class="navbar-item" href="/cars">
              <span class="icon"><i class="mdi mdi-home-map-marker"></i></i></span>
              <span>Residences</span>
            </a>
            <% } %>
            <hr class="navbar-divider">
          </div>
        </div>
        <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider has-user-avatar is-hoverable">
          <a role="button" onclick="window.location.href='/profile'" class="navbar-link is-arrowless">
            <div class="is-user-avatar">


              <% if (!user.profileUrl) { %>
              <img src="https://avatars.dicebear.com/v2/initials/john-doe.svg" alt="John Doe">
              <% } else { %>
                <img src="<%= user.profileUrl %>">
                <% } %>
            </div>

            <div  class="is-user-name">
              <span><%- user.name %> <%- user.surname %>(<%- user.usertype %>)</span>
            </div>
            <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
          </a>
          <% if (user.usertype == "Student") %>
          <div class="navbar-dropdown">

            <hr class="navbar-divider">
            
          </div>
        </div>
       
        <a title="Log out" href="/logout" class="navbar-item is-desktop-icon-only">
          <span class="icon"><i class="mdi mdi-logout"></i></span>
          <span>Log out</span>
        </a>
      </div>
    </div>
  </nav>
  <script>
    // your_script.js

function showAddLocationForm() {
  Swal.fire({
    title: 'Add Location',
    html:
      `<form id="addLocationForm">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" id="name" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Address Line 1</label>
          <div class="control">
            <input class="input" type="text" id="addressLine1" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Address Line 2</label>
          <div class="control">
            <input class="input" type="text" id="addressLine2">
          </div>
        </div>
        <div class="field">
          <label class="label">Town/City</label>
          <div class="control">
            <input class="input" type="text" id="townCity" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Province</label>
          <div class="control">
            <input class="input" type="text" id="province" required>
          </div>
        </div>
      </form>`,
    showCancelButton: true,
    confirmButtonText: 'Add',
    cancelButtonText: 'Cancel',
    preConfirm: () => {
      const formData = {
        name: document.getElementById('name').value,
        addressline1: document.getElementById('addressLine1').value,
        addressline2: document.getElementById('addressLine2').value,
        town_city: document.getElementById('townCity').value,
        province: document.getElementById('province').value,
        // latitude: parseFloat(document.getElementById('latitude').value),
        // longitude: parseFloat(document.getElementById('longitude').value),
      };

      // Submit the form data to the server using Fetch API
      return fetch('/api/locations/add', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData),
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        // Handle the server response
        Swal.fire('Location Added', 'The location has been successfully added.', 'success');
        
        setTimeout(
          ()=>{window.location.reload()},
          2000
        )
        
      })
      .catch(error => {
        Swal.fire('Error', 'An error occurred while adding the location.', 'error');
        console.error('Error:', error);
      });
    },
  });
}

  </script>