<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile - Cars</title>

    <!-- Bulma is included -->
    <link rel="stylesheet" href="css/main.min.css">
    <!-- Fonts -->
    
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    
</head>

<body>
    <div id="app">
        <%- include('partials/TopNav.ejs') %>
        <section class="hero is-hero-bar">
            <div class="hero-body">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <h1 class="title">
                                Cars
                            </h1>
                        </div>
                    </div>
                    <div class="level-right" style="display: none;">
                        <div class="level-item"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section is-main-section">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="card tile is-child">
                        <header class="card-header">
                            <p class="card-header-title">
                                <a class="button is-primary" id="addcarBtn">Add New Vehicle</a>
                            </p>
                        </header>
                        <!-- USER CARS -->
                        <div class="card-content">
                            <div class="card has-table">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        <span class="icon"><i class="mdi mdi-car"></i></span>
                                        My Cars
                                    </p>
                                    <a href="#" class="card-header-icon">
                                        <span class="icon"><i class="mdi mdi-reload"></i></span>
                                    </a>
                                </header>

                                <div class="card-content">
                                    <div class="b-table has-pagination">
                                        <div class="table-wrapper has-mobile-cards">

                                            <table id="cars_table" class="display">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Name</th>
                                                        <th>Plate</th>
                                                        <th>Status</th>
            
                                                        <th>Condition</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var i=0; i<cars.length; i++) {%>
                                                    <tr>
                                                        <td><%= cars[i].id %></td>
                                                        <td class="is-image-cell">
                                                            <div style="width: 60px;" class="image">
                                                                <img src="<%= cars[i].imageUrl %>" class="is-rounded">
                                                            </div>
                                                        </td>
                                                        <td><%= cars[i].name %></td>
                                                        <td><%= cars[i].plate %></td>
                                                        <td><%= cars[i].status %></td>
                                                        
                                                        <td>
                                                            <small class="has-text-grey is-abbr-like"
                                                                title="Oct 25, 2020"><%= cars[i].condition %></small>
                                                        </td>
                                                        <td>
                                                            <div class="buttons is-right">           
                                                                <button class="button is-small is-danger"
                                                                onclick="deleteCarConfirmation('<%= cars[i].plate %>')" type="button">
                                                                    <span class="icon"><i
                                                                            class="mdi mdi-trash-can"></i></span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <!-- Car Details Modal -->
                                                    <script>
                                                        
                                                        const deleteCarConfirmation = (plate) => {
                                                        
                        Swal.fire({
                          title: 'Are you sure?',
                          text: 'You won\'t be able to revert this!',
                          icon: 'warning',
                          showCancelButton: true,
                          confirmButtonColor: '#3085d6',
                          cancelButtonColor: '#d33',
                          confirmButtonText: 'Yes, delete',
                          cancelButtonText: 'Cancel'
                        }).then((result) => {
                          if (result.isConfirmed) {
                            // User clicked "Yes, delete"
                            // Perform your delete operation here
                            Swal.fire('Deleted!', 'Your Car has been deleted.', 'success');

                            setTimeout(()=> {console.log('Now deleting Ride!')}, 5000)
                            
                            fetch(
                                                            `/api/cars/delete/${plate}`, 
                                                            {
                                                                method: 'GET',
                                                                headers: {
                                                                    'Content-Type': 'application/json',
                                                                    // You might need to include additional headers here if required
                                                                },
                                                            }).then(response => {
        
                                                                if (!response.ok) {
                                                                    throw new Error('Network response was not ok');
                                                                }
                                                                return response.json();
                                                            }).catch(error => {
                                                                // Handle error
                                                                console.error('There was a problem with the fetch operation:', error);
                                                                Swal.fire(
                                                                    'Error!',
                                                                    'There was an error deleting your car.',
                                                                    'error'
                                                                );
                                                            });
                              window.location.reload()

                          }
                        });


                                                        }
                                                    
                                                    </script>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                            <script>
                                                // When document is ready convert to datatable $(document).ready(function () { $('#example').DataTable(); });
                                                $(document).ready(function () {

                                                    console.log('example')
                                                     $('#cars_table').DataTable()
                                                    
                                                    }
                                                     )
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END USER CARS -->
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container-fluid">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            © 2023 Infinite Techs
                        </div>
                        
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <div class="logo">
                                <a href="/"><img src="images/logo.png" width="60px" alt="JustBoil.me"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div id="sample-modal" class="modal">
            <div class="modal-background jb-modal-close"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Confirm action</p>
                    <button class="delete jb-modal-close" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <p>This will permanently delete <b>Some Object</b></p>
                    <p>This is sample modal</p>
                </section>
                <footer class="modal-card-foot">
                    <button class="button jb-modal-close">Cancel</button>
                    <button class="button is-danger jb-modal-close">Delete</button>
                </footer>
            </div>
            <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
        </div>
    </div>
    
    <style>
        #snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

    </style>

    <div id="snackbar">
        <article class="message is-danger">
            <div class="message-header">
              <p>Fields Validation Error</p>
              <button class="delete" aria-label="delete"></button>
            </div>
            <div id="snackbar-msg" class="message-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
            </div>
          </article>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        const addcarBtn = document.getElementById('addcarBtn')

        addcarBtn.addEventListener('click', () =>{
            Swal.fire({
                title: `Add Car`,
                html: `         
                    <form id="adding_car_form" action="/api/cars" enctype="multipart/form-data" id="addCarForm" method="post" class="box">   
                        <div style="display:flex">
                            <div class="field" style="width:40%;margin:5px">    
                                <label class="label">Vehicle Name</label>
                                <div class="control">
                                    <input class="input" type="text" name="name" id="name"  placeholder="Enter your car name" required>
                                </div>
                            </div>
                            <div class="field" style="width:40%;margin:5px">    
                                <label class="label">Vehicle Registration</label>
                                <div class="control">
                                    <input class="input" type="text" name="plate" id="plate"  placeholder="e.g XYZ 907 MP" required>
                                </div>
                            </div>
                        </div>
                        <div style="display:flex">
                            <div class="field" style="width:40%;margin:5px">    
                                <label class="label">Available Seats</label>
                                <div class="control">
                                    <input class="input" type="number" name="seats" id="seats" required >
                                </div>
                            </div>
                        </div>
                        <div style="display:flex">
                            <div class="field" style=";margin:5px">    
                                <label class="label">Condition</label>
                                <div class="select" >
                                    <select name='condition' id="condition" required>
                                        <option>Select Car Condition:</option>
                                        <option value="Good">Good</option>
                                        <option value="Normal">Normal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field" style=";margin:5px">   
                            <label class="label">Initial Destination Assignment</label>
                            <div class="select" >
                            <select  name="destination_id" id="destination_id" required>
                            <option value="">Select a location</option> 
                            <% for(var i=0; i<destination_locations.length; i++) { %>                                        
                                <option value="<%= destination_locations[i].id %>"><%= destination_locations[i].name %>, <%= destination_locations[i].addressline1 %>, <%= destination_locations[i].addressline2 %></option>
                            <% } %>
                            <!-- Add more options as needed -->
                        </select>
                        </div>
                        
                        </div>
                        </div>
                        <div style="display:flex">
                            <div class="field" style="width:40%;margin:5px">
                            <label class="label">Car Image</label>
                            <div class="control">
                                <input class="input" type="file" name="carImage" id="carImage">
                            </div>
                            </div>
                        </div>
                        <button id="submit" style="display:none" type="submit">Save</button>
                    </form>          
                `,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Save',
                preConfirm : false,
                width: '60%',
                }).then((result) => {
                if (result.isConfirmed) {

                    const adding_car_formEl = document.getElementById('adding_car_form')

                    var MissingFields = false;

                    for (const el of adding_car_formEl.elements) {
                       const { name, value } = el 
                       if(name == 'carImage'){
                        continue;
                       } 

                       if (value == '' || value == null || value.length == 0) {
                              // Get the snackbar DIV
                            var Toast = document.getElementById("snackbar");

                            document.getElementById('snackbar-msg').innerText = "Some Fields are missing in the car form" + name

                            // Add the "show" class to DIV
                            Toast.className = "show";
                            // After 3 seconds, remove the show class from DIV
                            setTimeout(function(){ Toast.className = Toast.className.replace("show", ""); }, 5000);
                            MissingFields = true;
                        } else {
                            document.getElementById('submit').click()
                            MissingFields = false;
                       }
    
                    }
                    if (value == '' || value == null || value.length == 0) {
                              // Get the snackbar DIV
                            var Toast = document.getElementById("snackbar");
                            document.getElementById('snackbar-msg').innerText = "Some Fields are missing in the car form" + name
                            // Add the "show" class to DIV
                            Toast.className = "show";
                            // After 3 seconds, remove the show class from DIV
                            setTimeout(function(){ Toast.className = Toast.className.replace("show", ""); }, 5000);
                            MissingFields = true;
                        } else {
                            document.getElementById('submit').click()
                            MissingFields = false;
                       }
                    setTimeout(() => {}, 10000)
                    // document.getElementById('submit').click()
                }
            })
        })


    </script>
    <!-- Scripts below are for demo only -->
    <script type="text/javascript" src="javascripts/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.18/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.18/dist/sweetalert2.min.css" rel="stylesheet">
    <!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
</body>

</html>